hr{
    height:5px;border: width 50%;;color:rebeccapurple;background-color:rebeccapurple;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


input,textarea{
    border: 2px solid #7F00FF;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}
.btn{
    background-color: #7F00FF;
    color: whitesmoke;
    font-weight: bold;
}
label{
    font-weight: bolder;
}
.mul,.btn{
    margin-left: 25%;
    color: white;
}
form{
    background-image: url("src/assets/nathan-dumlao-LPRrEJU2GbQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
   
}