hr{
    height:5px;border: width 50%;;color:rebeccapurple;background-color:rebeccapurple;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


input,textarea{
    border: 2px solid #7F00FF;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}
.btn{
    background-color: #7F00FF;
    color: whitesmoke;
    font-weight: bold;
}
label{
    font-weight: bolder;
}
.mul,.btn{
    margin-left: 25%;
    color: white;
}
form{
    background-image: url("src/assets/nathan-dumlao-LPRrEJU2GbQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
   
}
.btn{

    box-shadow: 0 9px black;
    -webkit-animation: bounce .5s infinite alternate;
    -moz-animation: bounce .5s infinite alternate;
    animation: bounce .5s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }
  .btn:hover {background-color: #add8e6}
 .qq{
     font-family: rancho;
     font-size: xx-large;
     color:  #7F00FF !important;
 }
 .ess{
     padding-top: 3%;
 }


