<div class="main-row">
    <div class="votes">
        <span class="item text-light">UpVotes:{{numberOfUpvotes}}</span><br>
    <div>
    </div>
    <button type="button" class="btn btn-info" (click)="upVotesClick()"> Upvotes</button>
    
    </div>
  
    <div class="votes1">
        <span class="item text-light mt-2">Downvotes:{{numberOfDownvotes}}</span><br>
    <div>
    </div>
    <button type="button" class="btn btn-warning mt-2" (click)="downVotesClick()">DownVotes</button>
    
    </div>
</div>
