<div class="container-fluid">
  <div class="loisey">

    <div *ngFor="let quote of quotes; let i=index">
      <div *ngIf="quote.upvote == highest && quote.upvote >0; then highlight else empty"></div>
      <ng-template #highlight class="lolo mt-5 text-light">
        <li appColor>{{quote.quote}} <br>
          <div class="main-row">
            <div class="votes">
              <span class="item text-light">UpVotes:{{quote.upvote}}</span><br>
              <div>
              </div>
              <button type="button" class="btn btn-info" (click)="upVotesClick(i)"> Upvotes</button>
            </div>
            <div class="votes1">
              <span class="item text-light mt-2">Downvotes:{{quote.downvote}}</span><br>
              <div>
              </div>
              <button type="button" class="btn btn-warning mt-2" (click)="downVotesClick(i)">DownVotes</button>
            </div>
          </div>
        </li>
      </ng-template>
      <ng-template #empty>


      </ng-template>
      <li>
        <span class="mymy text-info fs-5"> <span style="color: whitesmoke;"><em>Quote:</em></span> {{quote.quote}}
        </span>
        <br>
        <span class="mymy text-info fs-5"> <span style="color: whitesmoke;"><em>Name:</em> </span> {{quote.name}}
        </span>
        <br>
        <span class="mymy text-info fs-5"> <span style="color: whitesmoke;"><em>Author:</em></span> {{quote.author}}
        </span>
        <br>
        <p class="jjk text-light fs-5"><em>datePosted: </em><span class="lmm text-info">
            {{quote.myDate | date:"short"}}</span></p>
        <div class="main-row">
          <div class="votes">
            <span class="item text-light">UpVotes:{{quote.upvote}}</span><br>
            <div>
            </div>
            <button type="button" class="btn btn-info" (click)="upVotesClick(i)"> Upvotes</button>
          </div>
          <div class="votes1">
            <span class="item text-light mt-2">Downvotes:{{quote.downvote}}</span><br>
            <div>
            </div>
            <button type="button" class="btn btn-warning mt-2" (click)="downVotesClick(i)">DownVotes</button>
          </div>
        </div>
        <button type="button" class="btn btn-danger text-white mt-2" (click)=' deleteQuote(i)'>Delete</button>
      </li>
    </div>
  </div>
  <div class="">
    <app-forms (addQuote)="addNewQuote($event)"></app-forms>
  </div>
</div>
